/* [ FONT ]*/

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

a {
  color: #3FBDF1;
}

/*------------------------------------------------------------------
[ Bootstrap ]*/
.container {max-width: 1380px;}

@media (max-width: 1600px) {
  .container {max-width: 1200px;}
}

/*------------------------------------------------------------------
[ Slick2 ]*/
.slick-slide {outline: none !important;}


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
[ Header Desktop ]*/

.container-menu-desktop {
  height: auto;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.header-v2 .container-menu-desktop {
  height: 84px;
}


/* --------------------- Logo ---------------------------- */
.limiter-menu-desktop h2 {
  font-family: 'Spartan', sans-serif;
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #3FBDF1!important;

}

/*==================================================================
[ Menu ]*/

.wrap-menu-desktop {
  position: fixed;
  z-index: 1100;
  background-color: transparent;
  width: 100%;
  height: 84px;
  top: 40px;
  left: 0px;
  -webkit-transition: height 0.3s, background-color 0.3s;
  -o-transition: height 0.3s, background-color 0.3s;
  -moz-transition: height 0.3s, background-color 0.3s;
  transition: height 0.3s, background-color 0.3s;
}

.header-v2 .wrap-menu-desktop {
  background-color: #fff;
  top: 0;
  box-shadow: 0px 10px 20px rgba(100, 100, 100, 0.2);
}



/*---------------------------------------------*/
.limiter-menu-desktop {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  background-color: transparent;
}

/*------------------------------------------------------------------
[ Menu ]*/

.menu-desktop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 100%;
}

.main-menu {
  list-style-type: none;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.main-menu > li {
  display: block;
  position: relative;
  padding: 20px 10px 20px 0px;
  margin: 0px 4px 0px 14px;
}

.main-menu > li > a {
  font-weight: 400;
  font-size: 14px;
  color: #333;
  padding: 5px 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}


/*---------------------------------------------*/
.main-menu > li:hover > a {
  text-decoration: none;
  color: #3FBDF1;
}

/*------------------------------------------------------------------
[ Icon header ]*/

.wrap-icon-header {
  flex-grow: 1;
}

.wrap-header-mobile .wrap-icon-header {
  flex-grow: unset;
}

/* ---------- Icon header ----------- */
.icon-header-item {
  position: relative;
  font-size: 25px;
  line-height: 1;
  cursor: pointer;
}

.wrap-icon-header button {
  position: absolute;
  z-index: 10;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #000!important;
  font-size: 25px;
  cursor: pointer;
}

.wrap-icon-header .user {
  text-transform: capitalize!important;
  color: #333!important;
}

.wrap-icon-header .logout button {
  font-size: 14px;
  background:#000!important;
  color: #fff!important;;
}

.wrap-icon-header .logout button:hover {
  background: #3FBDF1!important;
  color:#fff!important;
}

.wrap-icon-header button:hover {
  color:#3FBDF1!important;
}

.wrap-icon-header button:focus {
  background: transparent!important;
  box-shadow: none!important;
}


/* -----------  Search  --------------------------------- */
.search-area form {
  position: relative;
  z-index: 1;
  height: auto;
}

@media only screen and (max-width: 767px) {

  .search-area form {
    height: auto;
    border-left: none;
  }
}

.search-area form input {
  border: none;
  background-color: #ffffff;
  width: 200px;
  height: auto;
  padding: 0 15px 0 60px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

@media only screen and (max-width: 767px) {
  .search-area form input {
    width: 170px;
    height: auto;
    padding: 0 10px 0 30px;
  }
}

.search-area form input:focus {
  outline: none !important;
  width: 350px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .search-area form input:focus {
    width: 300px; }
}

@media only screen and (max-width: 767px) {
  .search-area form input:focus {
    width: 170px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .search-area form input:focus {
    width: 270px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .search-area form input:focus {
    width: 300px;
  }
}

.search-area form button {
  position: absolute;
  z-index: 10;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 30px;
  background-color: transparent;
  border: none;
  color: #000!important;
  font-size: 22px;
}

.search-area button:hover {
  color: #3FBDF1!important;
}

.bor5 {
  border-left: 0!important;
  border-right: 1px solid #e5e5e5;
}

@media only screen and (max-width: 767px) {
  .search-area form button {
    left: 10px;
    height: auto;
  }
}

/*==================================================================
[ Fixed menu desktop ]*/

.fix-menu-desktop .wrap-menu-desktop {
  height: 70px;
  background-color: rgba(255,255,255,1);
  border-bottom: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0px 5px 30px rgba(100, 100, 100, 0.2)!important;
  -moz-box-shadow: 0px 5px 30px rgba(100, 100, 100, 0.2);
  -webkit-box-shadow: 0px 5px 30px rgba(100, 100, 100, 0.2);
  -o-box-shadow: 0px 5px 30px rgba(100, 100, 100, 0.2);
  -ms-box-shadow: 0px 5px 30px rgba(100, 100, 100, 0.2);
}

.header-v2 .fix-menu-desktop.container-menu-desktop {
  height: 70px;
}

a:hover {
  color: #000;
}
